<app-navbar></app-navbar>
<app-addcliente *ngIf="mostrarficha">
</app-addcliente>


<div *ngIf="mostrarbuscar" class="container animated fast fadeIn ">

    <form class="form-group p-2" style="background-color: white;">
        <!--Inicio Filtros-->
        <div class="container-fluid oculto-impresion">

            <div class="row">
                <div class="col-md-3 col-sm-12 ">

                    <div class="input-group input-group-sm mb-3 mt-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="inputGroup-sizing-sm" style="font-size:12px;font-family: cursive;">R.U.C.</span>
                        </div>
                        <input (keyup)="buscaRuc1($event)" type="text" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" maxlength="11" style="color: white;background-color:grey;font-size:17px;font-family: cursive;">
                    </div>

                </div>
                <div class="col-md-5"><span></span>
                </div>
                <div class="col-md-4 col-sm-12">

                    <div class="input-group input-group-sm mb-3 mt-2 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm" style="font-size:12px;font-family: cursive;">CLIENTE</span>
                        </div>
                        <input (keyup.enter)="buscaRsocial(textobuscar.value)" type="text" class="form-control text-right" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="color: white;background-color:grey;font-size:17px;font-family: cursive;"
                            #textobuscar>
                    </div>
                </div>
            </div>
            <div class="container p-1" style="border:2px solid rgb(218, 213, 213);border-radius: 5px;cursor:pointer; color: white;">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ul class="list-group list-group-horizontal-sm">
                            <!--<a (click)="buscaStatus1(this.value='APROACH')" class="list-group-item list-group-item-action list-group-item-success">APROACH</a>-->
                            <a (click)="buscaStatus1(this.value='CIERRE')" class="list-group-item list-group-item-action list-group-item-secondary itemfondoini">CIERRE</a>
                            <a (click)="buscaStatus1(this.value='CONTACTO')" class="list-group-item list-group-item-action list-group-item-success itemfondo">CONTACTO</a>
                            <a (click)="buscaStatus1(this.value='MANEJO DE OBSERVACIONES')" class="list-group-item list-group-item-action list-group-item-secondary itemfondoini">MANEJO DE OBS</a>
                            <a (click)="buscaStatus1(this.value='NO CONTACTAR')" class="list-group-item list-group-item-action list-group-item-success itemfondo">NO CONTACTAR</a>

                            <a (click)="buscaStatus1(this.value='PENDIENTE')" class="list-group-item list-group-item-action list-group-item-secondary itemfondoini">PENDIENTE</a>
                            <a (click)="buscaStatus1(this.value='PROPUESTA ENVIADA')" class="list-group-item list-group-item-action list-group-item-success itemfondo">PRESENTACION</a>
                            <a (click)="buscaStatus1(this.value='PROPUESTA ENVIADA')" class="list-group-item list-group-item-action list-group-item-secondary itemfondoini">PROPUESTA ENVIADA</a>
                            <a (click)="buscaStatus1(this.value='VISITA / REUNION')" class="list-group-item list-group-item-action list-group-item-success itemfondo">VISITA / REUNION</a>
                        </ul>
                    </div>
                    <br>
                </div>

                <div class="row mt-2">

                    <div class="col-md-12 col-sm-12">
                        <ul class="list-group list-group-horizontal-sm" style="font-size:8px;">
                            <a (click)="buscaResponsable(this.value='AG')" class="list-group-item list-group-item-action list-group-item-success itemfondo">AG</a>
                            <a (click)="buscaResponsable(this.value='DP')" class="list-group-item list-group-item-action list-group-item-secondary itemfondoini">DP</a>
                            <a (click)="buscaResponsable(this.value='VM')" class="list-group-item list-group-item-action list-group-item-success itemfondo">VM</a>
                            <a (click)="buscaResponsable(this.value='EJECUTIVO')" class="list-group-item list-group-item-action list-group-item-secondary itemfondoini">EJECUTIVO</a>
                            <a (click)="getAllData()" class="list-group-item list-group-item-action list-group-item-success itemfondo">TODOS</a>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <!--Fin Filtros-->
        <div class="container mt-2 tabla">
            <table class="table table-hover" style=" opacity:0.85;background-color:white;font-size:12px;width:100%;padding:0px;margin:0px;">
                <thead class="fuente" style=" background-color: rgb(25, 79, 144);height:20px;">

                    <th> # </th>
                    <th>RUC</th>
                    <th>RAZON SOCIAL</th>
                    <th>PLAZO</th>
                    <th>SERVICIO</th>
                    <th>STATUS</th>
                    <th>RESPONSABLE</th>
                    <th>DISTRITO</th>
                    <th> </th>
                    <th> </th>
                </thead>
                <tbody>
                    <div *ngIf="result">
                        <h6 class="text-danger">Sin coincidencias para su busqueda...!!!</h6>
                    </div>
                    <tr *ngFor="let item of clientes;let i = index;">
                        <td scope="row"> {{i+1}}</td>
                        <td class="text-large">{{item.ruc}}</td>
                        <td>{{item.rsocial}}</td>
                        <td>{{item.plazoclie}}</td>
                        <td>{{item.servicio}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.responsable}}</td>
                        <td>{{item.distrito}}</td>
                        <td class="iconosaccion">
                            <i (click)="getFicha(item.uid, item)" class="fas fa-table text-success" title="Actualizar"></i>
                        </td>
                        <td class="iconosaccion">
                            <i (click)="deleteCliente(item.uid,item.rsocial)" class="fas fa-eraser text-danger" title="Borrar"></i>
                        </td>
                        <!--<td>
                            <i (click)="newFicha(item.uid,item)" class="fas fa-file text-primary" title="Nuevo"></i>
                        </td>-->
                    </tr>

                </tbody>

            </table>

        </div>


        <div class="container m-1 oculto-impresion">

            <div class="col-md-12">
                <button (click)="enviarPrinter()" type="button" class="btn  btn-block btn-bloque">Enviar Resultados </button>
            </div>




        </div>

    </form>

</div>